# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.env.*
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Data and models
models/
mlruns/
artifacts/

# OS
.DS_Store
Thumbs.db
